mixin room-block(options)
 
    .hotel-room-block 
        .room-pictures-container.js-carousel
            button(type="button").room-pictures__left-scroll-button.room-pictures__scroll-button.js-carousel__left-scroll-button &#8249;
            .carousel-gallery
                ul.room-pictures__list
                    li
                        img(src=require(`./common.blocks/search-result/image.jpg`) alt="room photo")
                    li
                        img(src=require(`./common.blocks/search-result/image2.jpg`) alt="room photo")
                    li
                        img(src=require(`./common.blocks/search-result/image3.jpg`) alt="room photo")
                    li
                        img(src=require(`./common.blocks/search-result/image4.jpg`) alt="room photo")
            button(type="button").room-pictures__right-scroll-button.room-pictures__scroll-button.js-carousel__right-scroll-button &#8250;
        .room-detail-container
            .room-number-and-price-container
                span.room__number= "№ " 
                    strong= options.number
                if options.isSuite 
                    span.room__suite люкс
                span.room__price
                    b= options.price + "₽ "
                    | в сутки
            hr.room__hr
            .room-rating-and-review-container
                span.room__rating 
                    - var starCounter = 0
                    while starCounter < options.stars 
                        - starCounter++
                        img(src=require("./common.blocks/hotel-room-block/star.png")).rating-star
                    while starCounter < 5
                        - starCounter++
                        img(src=require("./common.blocks/hotel-room-block/star_empty.png")).rating-star
                span.room__reviews 
                - var reviewLastDigit = options.review % 10
                    if ((options.review % 100) > 10 && (options.review % 100) < 20)
                        b= options.review + " "
                        | Отзывов
                    else
                        case reviewLastDigit
                            when 1
                                b= options.review + " "
                                | Отзыв
                            when 2
                            when 3
                            when 4
                                b= options.review + " "
                                | Отзыва
                            default 
                                b= options.review + " "
                                | Отзывов


