mixin input(option)
    if option.type === 'email-and-submit'
        include ./input_type_email-and-submit/input_type_email-and-submit.pug
    else if option.type === 'date'
        input(type="date").input_type_date
    else if option.type === 'submit' 
        input(type="submit" value=option.text).input-submit
    else if option.type === 'email'
        input(type="email", name="", placeholder="Email", required, value="").text_style_usual-black.input-email
    else if option.type === 'password'
        input(type="password", name="", placeholder="Password", required, value="").text_style_usual-black.input-password
    else if option.type === 'text'
        input(type="text" placeholder=option.text).input-text
    else if option.type === 'radio'
        each val in option.text
            label= val
                input(type="radio" name=option.name, value=val)
    else if option.type === 'toggle'
        input(type="checkbox" id=option.id).input-toggle
        label(for=option.id).toggle-label
            .label-content= option.text